body {
    background-image: url('garfield.png');
}

#main {
    font-family: sans-seriff;
    text-shadow:
		-1px -1px 0 rgb(255, 255, 255),
		1px -1px 0 rgb(255, 255, 255),
		-1px 1px 0 rgb(255, 255, 255),
        1px 1px 0 rgb(255, 255, 255);
        

}